#hotelbooking-page #main-container{
    background-color:white;
}

#hotelbooking-page #head-container {
    margin: auto;
    background-color:  white;
    width:95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sections{
    border-radius: 30px;
    width:88%;
    margin: 20px auto;
    color: white;
    padding: 24px 50px;
    background-color: #5D71C7;
}

.sections ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 25px;
}

.sections ul li{
    list-style: none;
    padding: 20px;
}

.sections p{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}


h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: auto;
    padding: 10px 40px;
}

.review{
    background-color: #5D71C7;
    color:white;
    border-radius: 20px;
    padding: 20px;
    width:94%;
    margin:20px auto;
}

.review p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}


.perks-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.perks-container img{
    margin: 0px;
    padding: 0px;
    width: 50px;
    height:50px
}