#notification-box-container .notification-box img{
    width:60px;
    border-radius: 50%;
    height:60px;
    margin-left: 20px;
    margin-right: 20px;
}

.notification-box > div:hover{
    background-color: #5266c0;
}


#notification-box-container{
    padding:0px 30px;
}

.notification-box > div{
    display: flex;
    padding: 10px;
    background-color: #5D71C7;
    margin-bottom: 20px;
    border-radius: 20px;
}

.notification-box div div{
    text-align: left;
    width:100%;
    color: white;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-box .image-container p{
    padding-left: 11px;
        width: 100px; /* Adjust width as needed */
        white-space: nowrap; /* Prevent text from wrapping */
        overflow: hidden; /* Hide overflowing text */
        text-overflow: ellipsis; /* Show ellipsis for truncated text */
}

.message-container p{
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}